<div class="wrapper">
  <div class="side-bar">
  <%= render partial:"side_bar" %>
  </div>
  <div class="chat">
  <%= render partial:"main_chat" %>
</div>
<%# <h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p> %>
